:root {
    --main-color: #89e2f8;
}


* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 226, 250);
}

img {
    max-width: 100%;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

/* ANIMATIONS */
@keyframes slide-in {
    from {
        left: -50px;
    }
    to {
        left: 0px;
    }
}

.logo {
    color: var(--main-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 8px 3%;
}

header .logo {
    font-size: 130%;
}

header .logo:active {
    color: blue
}

header nav a {
    position: relative;
}

header nav a:after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: none;
    border-radius: 3px;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    transition: all .3s;
}

header nav a:hover:after {
    width: 100%;
    background-color: var(--main-color);
}

header nav a:not(:last-child) {
    margin-right: 15px;
}

/* header nav a:hover {
    /* text-decoration: underline; */

figure {
    display: flex;
    justify-content: center;
    margin: 0px 0 35px;
    background-image: url(./images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

figure .dog-image {
    max-width: 20%;
    margin-right: 15px;
    border: 5px solid #222;
    border-radius: 10px;
    overflow: hidden;
}

figure .dog-text {
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure .dog-text h1 {
    margin-bottom: 10px;
    font-size: 3em;
}

h1.work-title {
    padding: 0 3%;
}

main {
    padding: 0 3%;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

main section {
    padding: 5px;
    /* margin: 8px 0; */
    background-color: aqua;
}

main section:nth-child(odd) {
    background-color: bisque;
}

main section.main-section {
    grid-column: 1/3;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
}

main section img:first-child {
    max-width: 10%;
}

form {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 35px auto 0px auto;
    grid-column: 1/3;
}

form > * {
    padding: 5px 15px;
    margin: 5px 0;
}

form button {
    background: var(--main-color);
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.chat-box {
    position: fixed;
    z-index: 100;
    bottom: 25px;
    right: 25px;
}

.chat-box button {
    padding: 6px 7px;
    background-color: rgba(50, 50, 50, 0.9);
    color: var(--main-color);
    border: 5px solid #222;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 3%;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 768px) {
    header {
        font-size: 12px;
    }

    figure {
        flex-direction: column;
        align-items: center;
    }

    figure .dog-image {
        max-width: 65%;
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    figure {
        flex-direction: column;
        align-items: center;
    }

    figure .dog-image {
        max-width: 95%;
    }
}